* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Arial";
  }
  :root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #305CDE;
  }
  html {
    font-size: 60%;
    overflow-x: hidden;
  }
body{
    background: var(--bg-color);
    color:var(--text-color)
}  
.header{
    position:fixed;
    width:100%;
    top: 0;
    left:0;
    padding: 4rem 15%;
    background:rgb(0,0,0,0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease-in-out;
}
.logo :hover{
    transform: scale(1.1) ;
}
span{
    background: linear-gradient(
        270deg,#FF6EC7 10%, blue 100%
    );
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar :hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.gradiant-btn{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem ;
    background: linear-gradient(
        270deg,#FF6EC7 10%, blue 100%
    );
    letter-spacing: 1px;
    cursor:pointer ;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}
.gradiant-btn :hover{
    transform: scale(1.05);
}
section{
    min-height: 100vh;
    padding: 10rem 15%;
}
.home{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
}
.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-img img{
    height:450px;
    width: 450px;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color); 
    margin: 3 rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--main-color);
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group{
    display: flex;
    gap: 1.5rem;
}

.btn{
    display: inline-block;
    padding: 1rem 3 rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 5px solid transparent;
    font-weight: 600;
    transition: 0.3 ease-in-out;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
}
.about-img img{
    width: 400px;
    height: 550px;
    border-radius: 40%;

    box-shadow: 0 0 25px var(--main-color);
    transition: 1.0s ease-in-out;
}
.about-img img:hover{
    box-shadow:  0 0 25px var(--main-color),
                 0 0 50px var(--main-color)
                 0 0 100px var(--main-color);
}
.about-content h2{
    font-size: 7rem;
    text-align: left;
}
.about-content p{
    font-size: 1.8rem;
}
.about-content .btn{
    margin: 3rem 0;
}

.skills-section{
    margin-top: 40px;
}

.skills-section h3{
    font-size: 42px;
    margin-bottom: 25px;
    color: white;
}


.skills-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.skill-card{
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.skill-card:hover{
    transform: translateY(-10px);
    border-color: #9d4edd;
    box-shadow: 0 0 20px #9d4edd;
}

.skill-card i{
    font-size: 45px;
    margin-bottom: 15px;
    background: linear-gradient(to right, blue, violet, pink);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skill-card p{
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.projects-section{
    width: 100%;
    padding: 100px 10%;
    background: #000;
    color: white;
}

.section-title{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 50px;
}


.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.project-card{
    background: #111;
    border: 1px solid #2a2a2a;
    border-radius: 20px;
    padding: 25px;
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(138,43,226,0.2);
}

.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(138,43,226,0.5);
}

.project-card h2{
    margin-bottom: 20px;
    color: #fff;
}

.project-images{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.project-images img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #8a2be2;
}

.project-card p{
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 20px;
}

.tech-used{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.projects-section{
    width: 100%;
    padding: 100px 10%;
    background: #000;
    color: white;
}

.section-title{
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 50px;
}


.projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.project-card{
    background: #111;
    border: 1px solid #2a2a2a;
    border-radius: 20px;
    padding: 25px;
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(138,43,226,0.2);
}

.project-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(138,43,226,0.5);
}

.project-card h2{
    margin-bottom: 20px;
    color: #fff;
    font-size: 4rem;
}

.project-images{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    height: 200px;
}

.project-images img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #8a2be2;
}

.project-card p{
    font-size: 1.8rem;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 20px;
}

.tech-used{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tech-used span{
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 1.8rem;
}